body {
	padding-bottom: 200px;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.navbar-text.description,
h3,
.task .text,
.task .wf {
	-ms-user-select: all;
	-moz-user-select: all;
	-webkit-user-select: all;
}

#error {
	display: none;
}

.navbar-brand span {
	color: black;
}

.nav button.purge {
	margin-left: 10px;
}

.non-empty .introduction {
	display: none;
}

.selection .task-row {
	margin-top: 16px;
}

.selection .task {
	border-width: 0;
}

.selection .task .tools .reprioritize,
.wf .task .tools .reprioritize {
	display: none;
}

.selection .rest .task .tools {
	display: none;
}

.selection button.this-one {
	width: 100%;
}

.task-list .task {
	margin: .2em 0;
}

.next .task .tools .ready,
.selection .task .tools .ready,
.task-list.wf .tools .put-off,
.task-list.rest .tools .ready {
	display: none;
}

.task {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: .5em;
	overflow: auto;
	background: white;
}

.task .tools {
	float: right;
}

.task .tools button {
	margin: 0 3px;
}

.task .wf {
	background-color: #f0ad4e;
	border-color: #eea236;
	border-radius: 4px;
	padding: 4px;
	color: white;
}

.new-task form {
	margin-bottom: 10px;
}

.new-task textarea {
	margin-bottom: 10px;
}

.new-task button {
	margin-right: 10px;
}

.new-task .when,
.new-task .exclude {
	white-space: nowrap;
	margin-right: 20px;
}

div.footer {
	font-size: 10pt;
	text-align: center;
	margin-top: 3em;
}

.task-list.next .task {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 32px rgba(102, 175, 233, 0.6);
	        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 32px rgba(102, 175, 233, 0.6);
}

.next-progress .message {
	margin-bottom: 10px;
	text-align: center;
}

.next-progress .progress {
	margin-bottom: 0;
}
