body {
	padding-bottom: 200px;
}

#error {
	display: none;
}

.selection {
	margin-top: 20px;
	padding-bottom: 0;
}

.selection .question {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.1;
	margin-bottom: 10px;
}

.selection .selection-task {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: .5em;
	margin: .5em 0;
	background: white;
}

.task-list .task {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: .5em;
	margin: .2em;
	overflow: hidden;
}

.task-list.highlight-next-action .task:first-child {
	border: 1px solid #cfc;
}

.task .tools {
	float: right;
}

.task .tools button {
	margin: 0 3px;
}

.new-task form {
	margin-bottom: 10px;
}
