body {
	padding-bottom: 200px;
}

#error {
	display: none;
}

.navbar-brand span {
	color: black;
}

.selection {
	margin-top: 20px;
	padding-bottom: 0;
}

.selection .question {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.1;
	margin-bottom: 10px;
}

.selection .task {
	margin: .5em 0;
}

.selection .task .tools .reprioritize {
	display: none;
}

.selection .rest .task .tools {
	display: none;
}

.task-list .task {
	margin: .2em;
}

.selection .task .tools .ready,
.task-list.wf .tools .put-off,
.task-list.rest .tools .ready {
	display: none;
}

.task-list.highlight-next-action .task:first-child {
	border: 1px solid #9f9;
	background: #dfd;
}

.task {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: .5em;
	overflow: auto;
	background: white;
}

.task .tools {
	float: right;
}

.task .tools button {
	margin: 0 3px;
}

.task .wf {
	background-color: #f0ad4e;
	border-color: #eea236;
	border-radius: 4px;
	padding: 4px;
	color: white;
}

.new-task form {
	margin-bottom: 10px;
}

.new-task textarea {
	margin-bottom: 10px;
}

.new-task button {
	margin-right: 10px;
}

div.footer {
	font-size: 10pt;
	text-align: center;
	margin-top: 3em;
}
